# Data Exploration for the Values Data Set
David Liebmann

In [1]:
# Importing the necessary libraries
import numpy as np
import pandas as pd

In [2]:
values_df = pd.read_csv('/Users/davidliebmann/Library/CloudStorage/OneDrive-UvA/Semester 4/Structures/Group Work/coding/data/WVS_Time_Series_1981-2022_csv_v5_0.csv')
values_df.head()

,version,doi,S001,S002VS,S003,COUNTRY_ALPHA,COW_NUM,COW_ALPHA,S004,S006,...,Y023A,Y023B,Y023C,Y024A,Y024B,Y024C,survself,tradrat5,TradAgg,SurvSAgg
0,5-0-0 (2024-04-30),doi.org/10.14281/18241.25,2,3,8,ALB,339,ALB,1,1,...,0.000000,0.444444,0.444444,0.33,0.0,0.165,-1.011276,0.160847,0.158964,-1.792410
1,5-0-0 (2024-04-30),doi.org/10.14281/18241.25,2,3,8,ALB,339,ALB,1,2,...,0.111111,0.444444,0.444444,0.33,0.0,0.165,-0.688773,0.409283,0.558946,-1.208679
2,5-0-0 (2024-04-30),doi.org/10.14281/18241.25,2,3,8,ALB,339,ALB,1,3,...,0.000000,0.444444,0.444444,0.33,0.5,0.415,NaN,NaN,NaN,NaN
3,5-0-0 (2024-04-30),doi.org/10.14281/18241.25,2,3,8,ALB,339,ALB,1,4,...,0.000000,0.333333,0.333333,0.33,0.0,0.165,-1.319863,0.733956,1.081669,-2.350952
4,5-0-0 (2024-04-30),doi.org/10.14281/18241.25,2,3,8,ALB,339,ALB,1,5,...,0.000000,0.333333,0.333333,0.00,0.5,0.250,NaN,NaN,NaN,NaN

In [3]:
values_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 443488 entries, 0 to 443487
Columns: 1046 entries, version to SurvSAgg
dtypes: float64(42), int64(1000), object(4)
memory usage: 3.5+ GB

In [4]:
print(values_df.columns)

Index(['version', 'doi', 'S001', 'S002VS', 'S003', 'COUNTRY_ALPHA', 'COW_NUM',
       'COW_ALPHA', 'S004', 'S006',
       ...
       'Y023A', 'Y023B', 'Y023C', 'Y024A', 'Y024B', 'Y024C', 'survself',
       'tradrat5', 'TradAgg', 'SurvSAgg'],
      dtype='object', length=1046)

In [5]:
country_counts = values_df['COUNTRY_ALPHA'].value_counts()
print(country_counts)

ZAF    16786
IND    14313
COL    12082
MEX    11714
TUR    11704
       ...
FRA     1001
PSE     1000
YEM     1000
NIR      447
DOM      417
Name: COUNTRY_ALPHA, Length: 108, dtype: int64